<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/header :: header">
    <!--<head>-->
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
<div class="container">
    <meta charset="UTF-8">
    <link rel="stylesheet", href="../static/tui-grid/dist/tui-grid.css">
    <script src="../static/tui-grid/dist/tui-grid.js"></script>
    <div>
        <canvas id="myChart"></canvas>
    </div>

    <script type="text/javascript" src="../static/util/chartMe.js"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>-->


    <script>
      const ctx = document.getElementById('myChart');

      new Chart(ctx, {
        type: 'pie',
        data: {
          labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
          datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
</script>
</div>

</body>

