<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <!--<head>-->
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body onload="exeApp();">
<form name="form01" id="form01" method="post" onsubmit="return false;">
    <script type="text/javascript" src="../static/native/appCall.js"></script>
    <div class="container">
        <div th:replace="fragments/bodyHeader :: bodyHeader" />
        <div class="jumbotron"> <h1>앱 호출</h1>
            <p class="lead">테스트</p>
                <button id="btnBio" type="submit" class="btn btn-lg btn-secondary">고객용앱호출하기</button>
                <button id="btnClose" type="submit" class="btn btn-lg btn-danger">닫기</button>
                <a id="btn_appCall" />
            </p>

        </div>
        <div th:replace="fragments/footer :: footer" /> </div> <!-- /container -->
</form>
</body>
</html>

